@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#7fafd3;
    --black:#13131a;
    --bg: rgb(242, 244, 248);
    --border: .2rem solid rgba(58, 7, 7, 0.3) ;
}

*{
    font-family: 'roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration:none;
    text-transform: capitalize;
    transition: .2s linear;
    box-shadow: 200px;
}


html{
font-size: 62.5%;
overflow-x: hidden;
scroll-padding-top: 9rem;
scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .5rem;
}

html::-webkit-scrollbar-track{
    background: rgb(191, 186, 186);
}

html::-webkit-scrollbar-thump{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding: 5rem 2rem;   
}

.heading{

 text-align: center;
  text-transform: uppercase; 
  padding-bottom: 3.5rem; 
  font-size: 4rem; 
  color: #000000;
}
.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}


.btn{
    margin-top: 1rem; 
    display: inline-block;
    padding:.9rem 3rem; 
    font-size: 1.7rem; 
    color: #fff; 
    background: var(--main-color); 
    cursor: pointer;
}  

.btn:hover{
    letter-spacing: 2rem;
}


.header{
    background: rgba(17, 114, 170, 0.399);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.2rem 3%;
    border-bottom: var(--border);
    position:fixed;
    top:0; left: 0; right:0;
    z-index: 1000;
    
 }

 .header .navbar a{
margin:0 1rem;
font-size: 1.8rem;
color:#fff;
text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);;
 }
 .header .navbar a:hover{
color:var(--main-color);
border-bottom: .1rem solid var(--main-color);
padding-bottom: .5;
 }

 .header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-right: 2rem;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
 }

 .header .icons div:hover{
    color: var(--main-color);
 }

 #menu-btn{
    display: none;
 }
 

 .header .search-form{
    position: absolute;
    top: 115%; right: 2%;
    background:#ffffff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
 }

 .header .search-form.active{
    transform: scaleY(1);
 }

 .header .search-form input{
    height: 100%; 
    width: 100%;
    font-size: 1.6rem; 
    text-transform: none; 
    color:var(--black); 
    padding:1rem;
    text-transform: none;
 }

 .header .search-form label{
    cursor: pointer;
    font-size: 2.2rem; 
    margin-right: 1.5rem; 
    color:var(--black);
 }
 .header .search-form label:hover{
    color:var(--main-color);
 }



.home{
    padding: 0;
    .box{
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-size: cover !important;
        background-position: center !important;
        justify-content: flex-start;
        padding: 6rem 9%;
        opacity: 0.8;
        

        .content{
        
            width: 100rem;
            h3{
                font-size: 5rem;
                color: rgb(9, 94, 9);
                padding-top: .5rem;
                text-transform: uppercase;

            }
            P{
                line-height:2;
                color: rgb(255, 255, 255);
                font-size: 2.5rem;
                padding: 1rem 2rem;
            }
            h1{
                font-size: 3rem;
                color: rgb(44, 92, 95);
                padding-top: .5rem;
                text-transform: uppercase;
            }
        }
    }
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
    color:rgba(0, 0, 0, 0.3);
}



.realTimeData {
    width: 100%;
    height: fit-content;
}

main {
    width: 100%;
}
.box {
    width:100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;
    margin: 0 auto 0 auto;
}

.usAQI, .pm25 {
    width:90%;
    margin: 0 auto 0 auto;
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: fit-content;
    margin-bottom: 15px;
    border-bottom: 3px solid #1f513a;
    padding-bottom: 25px;
}

.usAQI h3, .pm25 h3 {
    color:#1f513a;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.usAQI p, .pm25 p {
    color:#1f513a;
    width: 100%;
    font-size: 13px;
}

.usAQI p:nth-child(2), .pm25 p:nth-child(2) {
    color: gray;
    text-align: justify;
}

.usAQI div, .pm25 div {
    border-radius: 10px;
    width: 15%;
    font-size: 16px;
    text-align: center;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.usAQI div:nth-child(3), .pm25 div:nth-child(3) {
    background-color: #9cd84e;
}

.usAQI div:nth-child(4), .pm25 div:nth-child(4) {
    background-color: #facf39;
}

.usAQI div:nth-child(5), .pm25 div:nth-child(5) {
    background-color: #f99049;
}

.usAQI div:nth-child(6), .pm25 div:nth-child(6) {
    background-color: #f65e5f;
}

.usAQI div:nth-child(7), .pm25 div:nth-child(7) {
    background-color: #a070b6;
}

.usAQI div:nth-child(8), .pm25 div:nth-child(8) {
    background-color: #a06a7b;
}


.map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    margin: 20px 0;
}

.map iframe {
    width: 85%; 
    height: 100%;
    border: none;
}



.about .row{
     display: flex; 
     align-items: center; 
     flex-wrap: wrap; 
     background:var(--black); 
}
     
.about .row .image{ 
    flex:1 1 45rem;
    padding:2rem;
} 
    
.about .row .image img{
     width: 100%; 
}

.about .row .content{ 
    flex:1 1 45rem; 
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff; 
}

.about .row .content p{
    font-size: 1.6rem;
    color:#eee;
    padding: 1rem 0;
    line-height: 1.8;
}

.contact .row{
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:rgb(42, 41, 41);
    border: .1rem solid rgba(125, 119, 119, 0.3);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.footer .credit{
    font-size: 2rem;
    color:#000000;
    font-weight: lighter;
    padding: 1.5rem;
    text-align: center;
}

.footer .credit span{
    color:var(--main-color);
    text-align: center;
}






@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1
        .5rem 2rem;
    }

    .home .box{
        padding: 2rem; 
        justify-content: center;
        background-position: right !important;

        &.second{
            justify-content: center;
            background-position: left !important;
        }

        .content{
            text-align: center;

            h3{
                font-size: 3rem;
            }
            p{
                font-size: 1.5rem;
            }
        }



    }
}
 
@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;   
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color:black;
        display: block;
        margin: 3rem;
        padding: .5rem;
        font-size: 2.5rem;
    }

    .header .search-form{
        width: 90%;
        right:2rem;
    }

    .usAQI div, .pm25 div {
        border-radius: 10px;
        width: 15%;
        font-size: 10px;
        text-align: center;
        height:60px;
        display:flex;
        justify-content: center;
        align-items: center;
    }

}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
}